  <div id="container">
   <div id="header">
    <h1 id="company_name">AppStar Labs</h1>
   </div>
   <div id="company_logo">
    <%= image_tag("appstarlogo.png", :alt => "AppStar") %>
   </div>
   <div id="company_description">
    <h1>Who are we?</h1>
    <p>We are the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. We are not fond of rules. And We have no respect for the status quo. You can quote us, disagree with us, glorify or vilify us. About the only thing you can’t do is ignore us. Because we change things.</p>
    <h1>What we do?</h1>
    <p>AppStar Labs is an incubator for crazy ideas. It is all about making applications that users love. At Appstar we are passionate about user experience and making sure our users love our apps every minute of every day is our only priority. At AppStar Labs we don't have favourites. We believe a web application can be as powerful as a native application. We believe every device is magical in it's own way, because the magic is not in the hardware or the Operating System, it's in the applications build on top that hardware. We believe in ideas and value imagination. For us a passion for innovation and mental to lead the world are the most important skills.</p>
    <p>As Albert Einstien puts it: <q>Imagination is more important than knowledge.</q></p>
    <h1>Excited about our work?</h1>
    <p>Please leave us your email address, and we will keep in touch.
     <form action="demo_form.asp" method="get">
      <input type="email" name="user_email" />
      <input type="submit"/>
     </form>
    </p>
    <h1>Feeling creative?</h1>
    <p>Please <a class="contact" href="mailto:ideas@appstar.ca">share with us</a> what we want to see, and who knows you might be the brain behind the next top app in the store.</p>
   </div>
   <div id="footer">
    <p class="floatright">AppStar, 2003 - 928 Beatty St, Vancouver, BC, V6Z3G6, Canada<br/>info@appstar.ca</p>
   </div>
  </div>
